<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/999a85aa00.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="content flex-column-start">
    <div class="heading flex-center">
      <h1>{{title}}</h1>
    </div>

    <div class="search flex-center">
      <div class="search-field-container">
        <input class="search-field">
        <div class="search-button flex-center"><i class="fas fa-search"></i></div>
      </div>
    </div>

    <div class="weather-container">
      <div class="weather-item"></div>
      <div class="weather-item"></div>
      <div class="weather-item"></div>
      <div class="weather-item"></div>
      <div class="weather-item"></div>
      <div class="weather-item"></div>
      <div class="weather-item"></div>
    </div>

  </div class="content">

  {{>footer}}


  <script src="/js/client.js"></script>
</body>

</html>
