<!DOCTYPE html>
<html lang="en" class="d-clear">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-status-bar-style" content="rgb(0, 98, 255)">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/999a85aa00.js" crossorigin="anonymous"></script>
</head>

<body>

  {{>header}}

  <div class="content">

    <div class="search-query"></div>

    <div class="weather-summary">
      <div class="weather-description"></div>
      <div class="icon-div">
        <img class="weather-icon">
      </div>
    </div>

    <div class="weather-results">
      <div class="weather-container">
        <div class="weather-item">
          <div class="weather-item-title">Temperature</div>
          <div class="weather-datum temperature"></div>
        </div>
      </div>

      <div class="weather-container">
        <div class="weather-item">
          <div class="weather-item-title">Sunrise</div>
          <div class="weather-datum"></div>
        </div>
        <div class="weather-item">
          <div class="weather-item-title">Sunset</div>
          <div class="weather-datum"></div>
        </div>
      </div>

      <div class="weather-container">
        <div class="weather-item">
          <div class="weather-item-title">Wind Speed</div>
          <div class="weather-datum"></div>
        </div>
      </div>

    </div>

  </div>



  <script src="/js/client.js"></script>
</body>

</html>
