<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/999a85aa00.js" crossorigin="anonymous"></script>
</head>

<body>

  {{>header}}

  <div class="content flex-column-start">

    <div class="weather-container">
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
      <div class="weather-item">
        <div class="weather-item-title"></div>
        <div class="weather-datum"></div>
      </div>
    </div>

  </div class="content">

  {{>footer}}


  <script src="/js/client.js"></script>
</body>

</html>
