<div class="header flex-column-start">
  <div class="heading flex-center">
    <h1>{{title}}</h1>
  </div>

  <div class="search flex-column-start">
    <div class="search-field-container">
      <input class="search-field">
      <div class="search-button flex-center"><i class="fas fa-search"></i></div>
    </div>
    <div class="search-info flex-center"></div>
  </div>
</div>
